
<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profile Details
            </h3>
        </div>
        <div class="panel-body">
            <form role="form" class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-2" for="profileName">Profile Name</label>
                    <div class="col-sm-10">
                        <input id="profileName" name="profileName" type="text" class="form-control" ng-model="currentProfile.Name">
                    </div>
                    
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="profileDesc">Profile Description</label>
                    <div class="col-sm-10">
                        <input id="profileDesc" name="profileDesc" type="text" class="form-control" ng-model="currentProfile.Description">
                    </div>
                </div>
            </form>
            <br/>
            	<div class="tabbable" id="tabs-922694">
            	    <ul class="nav nav-tabs">
            	        <li ng-class="{ active: $state.includes('profiles.details.mapServices') }">
            	            <a ui-sref="profiles.details.mapServices" data-toggle="tab">Map Services</a>
            	        </li>
            	        <li ng-class="{ active: $state.includes('profiles.details.ad') }">
            	            <a ui-sref="profiles.details.ad" data-toggle="tab">Active Directory</a>
            	        </li>
                        <li ng-class="{ active: $state.includes('profiles.details.entities') }">
            	            <a ui-sref="profiles.details.entities" data-toggle="tab">Java Entities</a>
            	        </li>
            	    </ul>
            	    <div class="tab-pane active">
            	        <div ui-view></div>
                    </div>
                </div>
		
		
        </div>
</div>

