<br/>
<!--<div class="panel panel-default">-->
<!--    <div class="panel-body">-->
<!--        <div class="col-sm-4">Add new map service:</div>-->
<!--        <div class="col-sm-4"><select></select></div>-->
<!--        <div class="col-sm-4"><button type="button" class="btn btn-primary" ng-click="addService()">Add</button></div>-->
<!--    </div>-->
<!--</div>-->
<table class="table table-striped table-bordered">
    <tr>
        <th>Service Name</th>
        <th>Folder</th>
        <th>Service Type</th>
    </tr>
    <tr data-ng-repeat="profileMapService in profileMapServices">
        <td>{{profileMapService.ServiceName}}</td>
        <td>{{profileMapService.Folder}}</td>
        <td>{{profileMapService.ServiceType}}</td>
    </tr>
</table>
