<div>
    <div ui-view></div>
</div>
@section scripts {
    <script src="~/Scripts/StateMachine.js"></script>
    <script src="~/Scripts/dataProviders.js"></script>
    <script src="~/Scripts/controllers.js"></script>
}