div.line
{
    transform-origin: 0 100%;
    height: 3px; /* Line width of 3 */
    background: #000; /* Black fill */
}

div.line{
    -webkit-transform-origin: 0 50%;
       -moz-transform-origin: 0 50%;
            transform-origin: 0 50%;
                 
    height: 5px; /* Line width of 3 */
    background: #948C79; /* Black fill */
    opacity: 0.5;
    box-shadow: 0 0 8px #B99B7E;
    
    /* For some nice animation on the rotates: */
    -webkit-transition: -webkit-transform 1s;
       -moz-transition:    -moz-transform 1s;
            transition:         transform 1s;
  }
  
  div.line:hover{
    background: #C30;
    box-shadow: 0 0 8px #C30;
    opacity: 1;
  }
  
  div.line.active{
    background: #666;
    box-shadow: 0 0 8px #666;
    opacity: 1;
  }
  
  div#waitingIndicator {
      width: 400px;
      height: 400px;
      background-color: #b99b7e;
      position: absolute;
      margin: 0 auto;

  }